<%- include('header') -%>

<div class="container mt-5">
    <a class="btn btn-sm btn-primary mb-3" href="/crear">Añadir Producto</a>
    <h1>Lista de Productos</h1>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Código</th>
                <th>Producto</th>
                <th>Categoría</th>
                <th>Existencia</th>
                <th>Precio ($)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% for (const producto of modelo) { %>
                <tr>
                    <td><%= producto.codigo %></td>
                    <td><%= producto.producto %></td>
                    <td><%= categoriasMap.get(producto.categoria_id) || 'Categoría no encontrada' %></td>
                    <td><%= producto.existencia_actual %></td>
                    <td><%= producto.precio %></td>
                    <td class="fijo">
                        <a class="btn btn-sm btn-warning" href="/editar/<%= producto.id %>">EDITAR</a>
                        <a class="btn btn-sm btn-danger" href="/eliminar/<%= producto.id %>">ELIMINAR</a>
                    </td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>